@font-face {
    font-family: 'Helvetica';
    src: url(../font/Helvetica.ttf);
}
@font-face {
    font-family: 'light';
    src: url(../font/helvetica_light.otf);
}
*{
    font-family: 'Helvetica';
}
body,html{
    background-color: #000000;
    margin: 0;
    padding: 0;
}
.priv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.priv_blokc{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    background-image: url(../img/frame.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
.priv_1{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.priv_1 a{
    font-size: 20px;
    font-weight: 300;
    color: #9A9A9A;
    margin-left: 40px;
    margin-right: 40px;
}
.priv_1 hr{
    border: none;
    height: 30px;
    width: 1px;
    background: #9A9A9A;
    margin: 0;
}
.priv_cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.priv_text{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.priv_text h1{
    font-size: 64px;
    font-weight: 700;
    background-image: linear-gradient(to right, #F1EDE4, #8B8984);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    margin-bottom: 30px;
}
.priv_text h1 span{
    background: #BAFD03;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    
    font-size: 64px;
    font-weight: 700;
}
.priv_text p{
    font-size: 24px;
    font-weight: 100;
    color: #9A9A9A;
    line-height: 150%;
    margin-top: 0;
}
.priv_text h5{
    font-size: 24px;
    font-weight: 300;
    color: #BAFD03;
    font-style: italic;
    margin-top: 0;
}
.join{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.join_blokc{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.join_blokc h2{
    color: #BAFD03;
    font-size: 64px;
    font-weight: 700;
}
.join_blokc p{
    font-size: 20px;
    font-weight: 300;
    color: #9A9A9A;
    width: 65%;
}
.best{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.best_blokc{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.best_cont{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.best_cont img{
    width: 46px;
    height: fit-content;
}
.best_cont h1{
    font-size: 24px;
    font-weight: 700;
    color: #B4AC9F;
}
.games{
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    align-items: end;
}
.games_blokc{
    cursor: pointer;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(360deg, #1F2A00 0%, #BAFD03 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 2%;
}
.games_blokc img{
    width: 100%;
    height: fit-content;
}
.games_blokc p{
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    font-style: italic;
}
.games_blokc .knopka{
    width: 250px;
    height: fit-content;
}
.platform{
    width: 100%;
    display: flex;
    justify-content: center;
}
.platform_blokc{
    width: 75%;
    display: flex;
    justify-content: center;
    border: 1px solid;
    border: 1px solid #BAFD03;
    border-radius: 250px;
    padding: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.platform_blokc p{
    font-size: 24px;
    font-weight: 300;
    color: #9A9A9A;
    text-align: center;
}
.disclaimer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.disclaimer_blokc{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/fon.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 120px;
    margin-top: 50px;
}
.disclaimer_blokc h1{
    font-size: 64px;
    font-weight: 700;
    color: #D9D9D9;
    margin-bottom: 30px;
}
.disclaimer_blokc span{
    color: #BAFD03;
}
.disclaimer_blokc p{
    font-size: 24px;
    font-weight: 300;
    color: #9A9A9A;
    line-height: 150%;
    text-align: center;
    width: 80%;
    margin-top: 0;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.end{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.end p{
    font-size: 24px;
    font-weight: 300;
    color: #686868;
    margin-bottom: 0;
}
.end h5{
    font-size: 24px;
    font-weight: 300;
    color: #686868;
    margin-top: 30px;
    margin-bottom: 20px;
}
.end img{
    width: 70%;
    height: fit-content;
}
.end_cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.end_cont a{
    font-size: 24px;
    font-weight: 300;
    color: #686868;
    margin-left: 40px;
    margin-right: 40px;
}
.end_cont hr{
    border: none;
    height: 30px;
    width: 1px;
    background: #9A9A9A;
    margin: 0;
}






.privacy{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.mini_privacy{
    display: flex;
    width: 90%;
    flex-direction: column;
}
.mini_privacy p{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Helvetica';
    color: white;
}
.mini_privacy h1{
    font-family: 'Helvetica';
    color: white;
}
.mini_privacy h2{
    font-family: 'Helvetica';
    font-size: 26px;
    color: white;
}
.mini_privacy h1{
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Helvetica';
}
.mini_privacy ul li{
    font-size: 18px;
    font-family: 'Helvetica';
    color: white;
    line-height: 150%;
}

.pop_up{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF66;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
}
.pop_obf{
    width: 600px;
    height: 600px;
    background-color: #fff;
    padding: 5px;
    border-radius: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 0px #BAFD03;

}
.pop_block{
    
    border: 5px solid #8CC000;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 590px;
    width: 590px;
    border-radius: 600px;

}
.pop_block img{
    height: 100px;
    width: auto;
    margin-bottom: 40px;
}
.pop_block h1{
    font-family: 'Helvetica';
    color: #000;
    font-weight: 700;
    font-size: 40px;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 0;
    text-transform: uppercase;
}
.pop_block p{
    text-align: center;
    font-family: 'light';
    color: #000;
    font-weight: 300;
    font-size: 36px;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 0;
}
.pop_block button{
    cursor: pointer;
    width: 290px;
    height: 40px;
    border: 2px solid #8CC000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px #00000040 inset;

}
.pop_iframe{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF66;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
}
iframe{
    width: 860px;
    height: 570px;
    border-radius: 20px;
 }
 
 #frame1{
     display: none;
 }
 
 #frame2{
     display: none;
 }
 
 #frame3{
     display: none;
 }
 
 #frame4{
     display: none;
 }
@media screen and (max-width: 900px){
    .pop_up{
        display: none;
    }
    .pop_obf{
        width: 400px;
        height: 400px;
    }
    .pop_block{
        width: 390px;
        height: 390px;
    }
    .pop_block img{
        height: 50px;
    }
    .pop_block h1{
        font-size: 20px;
    }
    .pop_block p{
        font-size: 24px;
    }
    .pop_block button{
        width: 217px;
        font-size: 16px;
        font-family: 'light';
        font-weight: 400;
    }
    .priv_1 a{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
    }
    .priv_1 hr{
        height: 20px;
    }
    .priv_text{
        width: 100%;
    }
    .priv_text h1{
        text-align: center;
    }
    .priv_text p{
        text-align: center;
    }
    .priv_cont{
        justify-content: center;
    }
    .join_blokc{
        flex-direction: column;
        align-items: start;
    }
    .join_blokc p{
        width: 100%;
    }
    .join_blokc h2{
        margin-top: 0;
        margin-bottom: 0;
    }
    .best_blokc{
        align-items: center;
    }
    .games{
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .games_blokc{
        width: 90%;
        margin-bottom: 30px;
    }
    .platform_blokc p{
        font-size: 20px;
        width: 85%;
    }
    .disclaimer_blokc h1{
        text-align: center;
        font-size: 48px;
    }
    .disclaimer_blokc p{
        font-size: 20px;
        width: 100%;
    }
    .disclaimer_blokc{
        background-image: none;
    }
    .end p{
        font-size: 16px;
    }
    .end h5{
        display: none;
    }
    .end img{
        width: 90%;
        height: 4px;
        margin-top: 20px;
    }
    .end{
        width: 93%;
    }
    .end_cont a{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
    }
    .for{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
    .priv_blokc{
        background-image: url(../img/mob.png);
        background-position: bottom;
    }
    .platform_blokc{
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
